#fond {
    background-image: url('/assets/icons/background.svg') !important;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 55% !important;
}

.brown {
    color: #B55D51 !important;
}

.bg-brown {
    background-color: #B55D51;
}

.border-brown{
    border-color: #B55D51 !important;
}

.card {
    transition: transform 0.5s ease-in-out !important;
}

.bg-rose {
    background-color: #FFF0ED;
}

.circle-container {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    border: 1px solid #000;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.bg-brown:hover {
    background-color: #B55D51;
    color: #000 !important;
}

.card:hover {
    transform: scale(1.06);
}

.out{
    outline: none !important;
}

@media (max-width: 1199px) {
    .text {
        font-size: 2.25rem !important;
    }
}


@media (max-width: 1399px) and (min-width:768px) {
    .cals {
        width: 51%;
    }
}

@media (max-width: 400px) {
    .circle-container {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
}

@media (max-width: 992px) {
    .text-justify {
        text-align: justify;
    }
}